*{
    margin-top: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box  ;
}
body{
    background: #000;
    color: #fff; 
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-position: center;
    background-size: cover;
}
.heading{
    padding: 10px 10%;
}

.heading img{
    width: 15%;
    height: 20%;
    border-radius: 50%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 5%;
    font-size: 30px;
    padding: 10px 10%;

}
.header-text h1{
    font-size: 40px;
    margin-top: 3%;
     
     
}
.header-text h1 span{
    color: #ff004f;
    font-size: 50px;
}
#about{
    padding: 80px 10%;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60% ;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.sml-titles{
    display: flex;
    margin: 20px 0 40px;

}
.sml-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.sml-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.sml-links:hover::after{
    width: 100%;
}
.sml-links.Active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* -----------------services----------- */

#services{
    padding: 10px 10%;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s,transform 0.5s;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #945569;
    transform: translateY(-10px);
}
/* --------------------portfolio-------------------- */
#portfolio{
    padding: 50px 10%;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;

}
.Work img{
    width: 120%;
    height: 100%;
    border-radius: 10px;
    display: block;
}

/* --------------------------------contact--------------------- */
#contact{
    padding: 50px 10%;

}
.contact-left{ 
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}

.social-icon a{
	text-decoration: none;
	color: #fff;
}
.social-icon ion-icon{
	padding-left: 10px;
	padding-top: 5px;
	font-size: 25px;
	color: #fff;
	transition: 0.3s ease;
}
.social-icon ion-icon:hover{
	color: #ff7200;
}

.contact-left btn{
    display: inline-block;
    color: #ff004f;
    

}

/* -----------------------------------css for small screens------------------------- */


@media only screen and (max-with:600px){
    #header{
        background-image: url(images/phone-background.png);
    }
}





 